PRIVATE_KEY=
RPC_URL_ARBITRUM=
RPC_URL_BASE=
ARBITRUM_STARGATE_POOL=
BASE_STARGATE_POOL=
BASE_AQUA_ADDRESS=
ARBITRUM_AQUA_ADDRESS=
USDC_ADDRESS_ARBITRUM=
USDC_ADDRESS_BASE=
USDT_ADDRESS_BASE=
LZ_ENDPOINT_ARBITRUM=
LZ_ENDPOINT_BASE=
BASE_AQUA_SWAPVM_ROUTER=
ARBITRUM_AQUA_ADDRESS=
OAQUA_EXECUTOR_ADDRESS=

ARBITRUM_STARGATE_POOL_SEPOLIA=
RPC_URL_ARB_SEPOLIA=
USDC_ADDRESS_ARBITRUM_SEPOLIA=
ARBITRUM_AQUA_ADDRESS_SEPOLIA=

RPC_URL_OPTIMISM_SEPOLIA=
OPTIMISM_AQUA_ADDRESS_SEPOLIA=
OPTIMISM_AQUA_SWAPVM_ROUTER_SEPOLIA=
OPTIMISM_STARGATE_POOL_SEPOLIA=
USDC_ADDRESS_OPTIMISM_SEPOLIA=
USDT_ADDRESS_OPTIMISM_SEPOLIA=
